
h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    margin-bottom: 0px;
    margin-top : 0;
    padding: 0;
    color : #fafafa;
}

h1#spaced {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    margin-bottom: 12px;
    margin-top : 0;
    padding: 0;

}

h2 {
    color : #fafafa;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 140%;    
    margin-bottom: 0;
    margin-top : 0;
    padding: 0;
}

h3{
    color : #fafafa;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;    
    margin-bottom: 0;
    margin-top : 0;
    paddin: 0;    
}

p {
    color : #fafafa;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;    
    margin-bottom: 0;
    margin-top : 0;
    paddin: 0;    
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    
    
    /*background: -webkit-linear-gradient( #646165,#646165,#FAFAFA); /* For Safari 5.1 to 6.0 */     
    /*background: -o-linear-gradient(		 #646165,#646165,#FAFAFA); 	/* For Opera 11.1 to 12.0 */ 
    /*background: -moz-linear-gradient(	 #646165,#646165,#FAFAFA); 	/* For Firefox 3.6 to 15 */      
    /*background: linear-gradient(		 #646165,#646165,#FAFAFA); 	/* Standard syntax */            
    
    background: #000000;
    
}

body{
    margin: 0px;
}

.canvas {
    margin-left : auto;
    margin-right : auto;
    display: block;
    z-index: -1;
}

a.highlighted:link{
    /*color : #FF0000;*/
    color : #ffd700;
    
	  -o-transition:.5s;
	  -ms-transition:.5s;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	
    text-decoration: none;
}

a.highlighted:visited{
    color : #ffd700;
    text-decoration: none;
}

a.highlighted:hover{
    color : #5F5AA2;
}

a:link{
    /*color : #FF0000;*/
    color : #fafafa;
    
	  -o-transition:.5s;
	  -ms-transition:.5s;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	
    text-decoration: none;
}

a:visited{
    color : #fafafa;
    text-decoration: none;
}

a:hover{
    color : #5F5AA2;
}

iframe{
	align : center;
}

#Header{
    background : #000000;
    width : 100%;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#Title
{
    background : #000000;
    background-color : rgba(0, 0, 0, 0.5);
    background-color : rgba(0, 0, 0, 0.5);
    
    width : 100%;
    margin-left : auto;
    margin-right : auto;
    align-content: center;
    padding: 0;
    display: block;
    border: 0;    
}

#TitleLink_Left
{
    background : #000000;
    background-color : rgba(0, 0, 0, 0.5);    
    width: 25%;
    padding:  0;
    margin-left : auto;
    margin-right : auto;
    float: left;
    border: 0;
}
#TitleLink_Right
{
    background : #000000;
    background-color : rgba(0, 0, 0, 0.5);
    width: 25%;    
    padding:  0;
    margin-left : auto;
    margin-right : auto;
    float: right;
    border: 0;
}

#TitleText
{
    background : #4a0075;
    
    background-color : rgba(74, 00, 117, 0.5);
    white-space : nowrap;
    width : 100%;
    padding: 0;
    margin-left : auto;
    margin-right : auto;
    display: inline-block;
}

#TitleText.right
{
    float: left;
}

#MiddleContainer{
    width : 100%;
    padding: 0;
    margin: 8px;
}

#Middle{
    background : #000000;
    background-color : rgba(00, 0, 0, 0.1);
    width : 75%;
    min-width : 500px;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#MiddleContent
{
    background : #000000;
    background-color : rgba(0, 0, 0, 0.5);
    width : 480px;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#ImageContainer
{
    width : 100%;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#TwitterButton
{
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#borderTopLeft
{
    vertical-align: top;
    float : left;
    
    -ms-transform: rotate(0eg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

#borderTopRight
{
    vertical-align: top;
    float : right;
    
    -ms-transform: rotate(90eg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#borderBottomLeft
{
   vertical-align: bottom;

   
   -ms-transform: rotate(-90eg); /* IE 9 */
   -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
   transform: rotate(-90deg);
}

#borderBottomRight
{
   display: block;
   vertical-align: bottom;
   float : right;
   
    -ms-transform: rotate(180eg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#CenteringDiv
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
}