
h1 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 12;
    margin-top : 0;
}

h2 {
    background : #fafafa;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 0;
    margin-top : 0;
}

h3{
    color : #ffffff;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 0;
    margin-top : 0;
}

html {
    height: 100%;
    
    /*background: -webkit-linear-gradient( #646165,#646165,#FAFAFA); /* For Safari 5.1 to 6.0 */     
    /*background: -o-linear-gradient(		 #646165,#646165,#FAFAFA); 	/* For Opera 11.1 to 12.0 */ 
    /*background: -moz-linear-gradient(	 #646165,#646165,#FAFAFA); 	/* For Firefox 3.6 to 15 */      
    /*background: linear-gradient(		 #646165,#646165,#FAFAFA); 	/* Standard syntax */            
    
    background: -webkit-radial-gradient(                 50% 30%, closest-side ,#FAFAFA,    #FAFAFA, #FAFAFA,  #646165); /* For Safari 5.1 to 6.0 */     
    background: -o-radial-gradient(		                 50% 30%, closest-side ,#FAFAFA,    #FAFAFA, #FAFAFA,  #646165); 	/* For Opera 11.1 to 12.0 */ 
    background: -moz-radial-gradient(	                 50% 30%, closest-side ,#FAFAFA,    #FAFAFA, #FAFAFA,  #646165); 	/* For Firefox 3.6 to 15 */      
    background: radial-gradient(		 closest-side at 50% 30%,               #FAFAFA,    #FAFAFA, #FAFAFA,  #646165); 	/* Standard syntax */        
    
    
}

canvas {
    margin-left : auto;
    margin-right : auto;
    display:    block;
    border : 5px solid black;
}

a:link{
    //color : #FF0000;
    color : #ffffff;
    text-decoration: none;
}

a:visited{
    color : #ffffff;
    text-decoration: none;
}

a:hover{
    color : #5F5AA2;
}

#Header{
    background : #fafafa;
    width : 100%;
    //margin-left : auto;
    //margin-right : auto;
    //display: block;
}

#Title
{
    background : #fafafa;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#TitleText
{
    background : #fafafa;
    white-space : nowrap;
    width : 480px;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#MiddleContainer{
    width : 100%;
}

#Middle{
    background : #4f5055;
    background-color : rgba(79, 80, 85, 0.5);
    width : 75%;
    min-width : 500px;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#MiddleContent
{
    background : #3f4045;
    background-color : rgba(63, 64, 69, 0.5);
    width : 480px;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#ImageContainer
{
    width : 100%;
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#TwitterButton
{
    margin-left : auto;
    margin-right : auto;
    display: block;
}

#borderTopLeft
{
    vertical-align: top;
    float : left;
    
    -ms-transform: rotate(0eg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

#borderTopRight
{
    vertical-align: top;
    float : right;
    
    -ms-transform: rotate(90eg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#borderBottomLeft
{
   vertical-align: bottom;

   
   -ms-transform: rotate(-90eg); /* IE 9 */
   -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
   transform: rotate(-90deg);
}

#borderBottomRight
{
   display: block;
   vertical-align: bottom;
   float : right;
   
    -ms-transform: rotate(180eg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}